.paddingForHeader { padding-top: 70px; }

th { border-bottom: 1px solid black; text-align: center; }
td { padding: 2px 10px; text-align: right; }
.squish td {padding:2px;}
.grey   { background-color:#efefef; }
.white  { background-color:#fafafa; }
.blue   { background-color:#f0f0ff; }
.left   { text-align:left;   }
.right  { text-align:right;  }
.center { text-align:center; }

a img{ border:0; }

a.disabled {
   pointer-events: none;
   cursor: default;
   color: lightgrey;
   text-decoration:none; 
}

.has-error .help-block {color:red;}
.has-error input {background-color:#FFEEEE;}

.del_up, .del_down {
	min-width:24px;
	padding:4px 0px; 
	font-size:11px; 
	border-radius:24px; 
	color:white; 
	border:none; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none; 
}
.del_up     { background-image:linear-gradient(to bottom, #FF8888 0%, #CC3333 100%); }
.del_down   { background-image:linear-gradient(to bottom, #CC3333 0%, #FF8888 100%); }

.bluebox {
	padding:20px; border-radius:20px;
	background:rgba(204, 228, 255, 0.4);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

th { text-align:center; }
.table-hover tbody tr:hover td {
  background-color: #eaf2f8;
}

.pagination ul {
	padding:0;
	margin:0 10px;
    border-left: 1px solid #ccc;
	list-style-type: none;
}
.pagination li {
	min-width:20px;
	padding:2px 6px;
    list-style-position:inside;
    border-right: 1px solid #ccc;
	float:left;
}
.intro-message {
	padding-top: 5%;
}

.fa {
	border:1px solid lightgrey; 
	border-radius:12px; 
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700; 
	padding:8px; 
	text-align: center;
}
.fa a { 
	margin-top:8px; 
	padding-top:0px; 
	padding-bottom:0px; 
}

#calculating { 
	text-align:center; 
	color:#39B54A; 
	margin-top:20px;
/*
	margin:40px auto; 
	-webkit-background-size: contain;
	   -moz-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
*/
	background-repeat: no-repeat;
	background-position: center; 
}
#calculating2, .wait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding: 0px;
	text-align: left;
	border-style:none;
}

.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }

a img { border: 0; }

.no-js [data-responsive-toggle]{
    display:none;
}

.importButton {padding:0; margin:0; border: none; background-color: rgba(0,0,0,0)} 
