/laravel/node_modules
/laravel/public_html/hot
/public_html/storage
/laravel/storage/*.key
/laravel/vendor
/laravel/.idea
/laravel/.vagrant
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log
/laravel/.env
.bash*
.c*
.ftpquota
.gemrc
/.htpasswords
.lastlogin
.md5sum
/.mysql_backup
/.ssh
/.trash
.viminfo
.zshrc
access-logs
/etc
/logs
/mail
/perl5
/public_ftp
/ssl
/tmp
www
